body {
  font-family: "Roboto", sans-serif;
  color:#434455;
  background-color:#FFFFFF;
}

.main-logo{
font-family: Raleway,sans-serif, 
color:#4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17px; 
letter-spacing: 0.03;
text-transform: uppercase;
}
.main-logo-second{
color: #2E2F42;
font-family: Raleway,sans-serif,
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17px; 
letter-spacing: 0.03;
text-transform: uppercase;
}
.main-header{
  font-size: 56px;
  font-weight: 700;
  background-color:#2E2F42 ;
  color:#FFF ; 
}

.sub-header{
  font-size: 20px;
  color:#2E2F42;
  font-weight: 500;
}

.sub-header-desc{
  font-size: 16px;
  color: #434455;
}

.content-desc{
  font-size: 36px;
  color: #2E2F42;
  font-weight: 700;
}

.order-service-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.order-service-button:hover {
  background-color: #404bbf;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.header-list{
color: #2E2F42;
font-size: 16px;
font-weight: 500;
text-decoration: none
}
.header-list:hover{
  color: #404BBF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  }

  .header-contacts{
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
    } 
  .header-contacts:hover,
  .header-contacts:focus{
  color: #404BBF;
  font-size: 16px;
  font-weight: 500;
  }

  .footer-logo-desc{
    font-size: 16px;
    background-color:#2E2F42 ;
    color:#FFF ;
  }

  
  
